/* KetaRu ScrollBars */
:root{
    --Background: #151c24;
    --Fon: #0d1218;
    --ColorNone: #4cc2ff;
    --ColorCursor: #4cc3ff80;
    --Width: 10px;
    --Border: 2px;
    --Radius: 3px;
}
реьд{
    overflow-y: auto;
    scrollbar-gutter: auto;
}

/* YouTube ScrollBars */
/* :root{
    --Background: #0f0f0f;
    --ColorNone: #aaaaaa;
    --ColorCursor: #717171;
    --Width: 16px;
    --Border: 4px;
    --Radius: 100px;
} */

/* Дизайн скрол-бара */
.element::-webkit-scrollbar{
    width: 0;
    position: absolute;
}
::-webkit-scrollbar{
    position: absolute;
    width: var(--Width);
    background-color: var(--Background);
    outline: 1px solid #374758;
}
::-webkit-scrollbar-thumb{
    position: absolute;
    background-color: var(--ColorNone);
    border-radius: var(--Radius);
    border: var(--Border) solid var(--Background);
}
::-webkit-scrollbar-thumb:hover{
    position: absolute;
    background-color: var(--ColorCursor);
}

/* .body-wrap {
    background-color: var(--Fon);
} */